#!/usr/bin/env bash
set -e

# Set local path to the DynamoRIO on your machine
DRIO_HOME="${HOME}/tools/DynamoRIO-Linux-9.0.1"
export DRIO_HOME

export DYNAMORIO_CONFIGDIR=${PWD}/dynamorio_config;

# shellcheck disable=SC2139
alias drrun="${DRIO_HOME}/bin64/drrun"

# Add scripts to the local path
export PATH=${PATH}:${PWD}/scripts
